@mixin allignPanels
    display: flex
    flex-direction: column
    justify-content: center

html, body, #root
    height: 100%
    background-color: black
    font-family: roboto
    color: white
    margin: 0

// Textbox
input[type = text]
    background-color: #574F4F
    border: none
    border-radius: 15px
    color: white
    width: 508px
    padding: 10px
input::placeholder
    color: #B8A7A7
input[type=text]:focus 
    outline: 0


//Log-In
#logIn
    height: 100%
    display: flex
    text-align: center
    #leftPanel
        background-color: #667FD8
        width: 40%
        border-top-right-radius: 45%
        border-bottom-right-radius: 45%
        @include allignPanels
        
    #rightPanel
        width: 60%
        @include allignPanels
        .textbox-logo
            display: flex
            flex-direction: row
            justify-content: center
            align-items: center
        #enterBtn
            border: none
            background: url(./cssAssests/next.svg) center no-repeat transparent
            width: 50px
            height: 25px
            filter: invert(100)

// ChatRoom
#chatRoom
    height: 100%  
    header
        border: 1px solid
    #chat
        margin-top: 10px
        display: flex
        border: 1px solid
        height: 60%
        padding: 10px

        %message
            display: flex

        #self-message
            justify-content: flex-end
            @extend %message
        #user-message
            justify-content: flex-start
            @extend %message

    #sendMessage
        border: 1px solid
    

@font-face 
    font-family: roboto
    src: url(./cssAssests/Roboto-Regular.ttf)


@mixin basicSpacing
    margin-top: 10px
    padding: 10px


